script(type="importmap").
  {
    "imports": {
      "menu": "<?= JS_MOD ?>/menu.js?v=<?= APP_VERSION ?>"
      ,"vue-dev": "https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.esm-browser.js"
      ,"vue-prod": "https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.esm-browser.prod.js"
      ,"vue": "https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.esm-browser.prod.js"
    }
  }
