head
    //- include _gtm
    block meta
        | <!-- Google Tag Manager -->
        | <!-- End Google Tag Manager -->
        meta(charset='utf-8')

        //- noindex !!!!!!!!! 
          meta(name="robots" content="noindex,nofollow")
          meta(name="robots" content="noindex")

        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
        meta(name="format-detection" content="telephone=no")

        //---------------- title
        title #{metas.title}
        //---------------- description
        meta(name="description", content=metas.description)
        

    block style
        :php wp_head();
        | <link rel="preconnect" href="https://fonts.googleapis.com">
        | <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        | <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    include _importmap
