extends _includes/_layout
block append vars
  - metas.title = site.name
  - metas.description = ""
  - metas.ogp = "ogp"
  - canonical = ''
  - breadcrumbs = []
  - page = 'home'

  :php // template name: ホーム
block contents
  main.l-main
    h1 テスト
    h2 これはテストです
    p 嘘ぴょんfasfadsfsa